body{
    background: url("imagenes/imagen.jpg");
    background-size: 100%;
    font-style: oblique;
    font-size: 20px;
    color: royalblue;
}
table{
    background-color: antiquewhite;
}
thead{
    background-color: aqua;
}