header{
    margin: 20px;
    padding: 20px;
    font-style: initial;
    font-size: 26px;
    color: aqua;
}

body{
    background: url(imagenes/wallpaper2.jpg)
}

}
footer{
    color: aqua;
}
div{
    color: aquamarine;
}